.infoText {
  width: 100%;
  background-color: #EEE;
  padding: 15px;
  box-sizing: border-box;
  color: #222935;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.infoTitle {
  margin: 0 0 5px;
}
