.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.errorMessage {
  color: red;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
