.spinnerWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30vh;
}

.spinner {
  align-self: center;
  animation: spin 3s linear;
  width: 25px;
  height: 25px;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  path {
    fill: #26C17E;
  }
}
